# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\java_code\software_3\rpc-grpc-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
